.stat-image {
  width: 100%;
  height: 220px;          /* GIỚI HẠN CHIỀU CAO */
  border: 2px solid #000;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;       /* CHỐNG TRÀN */
}

.stat-image img {
  width: auto !important;
  max-width: 30% !important;
  height: 100% !important;
  object-fit: contain !important;
}
